@mixin flexCenter($direction) {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: $direction;
}

@mixin flexBetween($direction) {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: $direction;
}

@mixin before($width, $height, $top, $left) {
  content: "";
  position: absolute;
  width: $width;
  height: $height;
  top: $top;
  left: $left;
  z-index: 10;
}

@mixin primary($theme) {
  @if (theme == "dark") {
    background-color: $dark-primary;
    color: $dark-primary-foreground;
  } @else if (theme == "light") {
    background-color: $primary;
    color: $primary-foreground;
  } @else {
    @error("Theme must be light or dark.")
  }
}

@mixin secondary($theme) {
  @if (theme == "dark") {
    background-color: $dark-secondary;
    color: $dark-secondary-foreground;
  } @else if (theme == "light") {
    background-color: $secondary;
    color: $secondary-foreground;
  } @else {
    @error("Theme must be light or dark.")
  }
}

@mixin accent($theme) {
  @if (theme == "dark") {
    background-color: $dark-accent;
  } @else if (theme == "light") {
    background-color: $accent;
  } @else {
    @error("Theme must be light or dark.")
  }
}

@mixin darkMode {
  @media (prefers-color-scheme: dark) {
    @content;
  }
}

@mixin lightMode {
  @media (prefers-color-scheme: light) {
    @content;
  }
}

@mixin xs {
  @media screen and (min-width: 480px) {
    @content;
  }
}

@mixin sm {
  @media screen and (min-width: 640px) {
    @content;
  }
}

@mixin md {
  @media screen and (min-width:  768px) {
    @content;
  }
}

@mixin lg {
  @media screen and (min-width: 1024px) {
    @content;
  }
}

@mixin xl {
  @media screen and (min-width: 1280px) {
    @content;
  }
}

@mixin doubleXL {
  @media screen and (min-width: 1536px) {
    @content;
  }
}

@mixin reducedMotion {
  @media (prefers-reduced-motion) {
    @content;
  }
}