
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  @include reducedMotion {
    transition-duration: 0ms !important;
    animation-duration: 0ms !important;
    scroll-behavior: auto;
  }
}

html {
  color-scheme: light;
}

html.dark {
  color-scheme: dark;
}

body {
  background-color: hsl(var(--background));
  color: hsl(var(--foreground));
}

button, input {
  border: none;
}

button:focus, input:focus, a:focus {
  outline: 2px solid hsl(var(--border) / 20);
  outline-offset: 2px;
  box-shadow: 0 1px 2px hsl(var(--background))
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  @include flexCenter(row);
  background-color: hsl(var(--primary));
  color: hsl(var(--primary-foreground));
  border-radius: var(--rounded-md);
  border: none;

  will-change: opacity, background-color, color;
  transition: var(--button-transition-duration) ease-in-out;
  padding: 0.5rem 1rem;
  height: 2.25rem;
  cursor: pointer;
}

button.secondary {
  background-color: hsl(var(--secondary));
  color: hsl(var(--secondary-foreground));
}

button.ghost {
  background-color: transparent;
  color: inherit;
}

button.ghost:hover {
  background-color: hsl(var(--accent) / 0.2);
}

button.link, a {
  text-underline-offset: 4px;
}

button.link:hover, a:hover {
  text-decoration: underline;
}

input {
  border-radius: var(--rounded-md);
  background-color: hsl(var(--background));
  height: 2.25rem;
  padding: 0.25rem 1rem;
}

button.outline {
  background-color: transparent;
  color: inherit;
}

input, button.outline {
  border: 1px solid hsl(var(--border));
}

button.outline:hover {
  background-color: hsl(var(--accent) / 0.2);
}

button:not(.link .ghost):hover {
  opacity: 0.9;
}

.border {
  border-width: 1px;
}

button.icon {
  height: auto;
  padding: 0.25rem;
}

button.lg {
  height: 2.5rem;
  padding: 0.75rem 1.25rem;
}

.grid-center {
  display: grid;
  place-items: center;
}

.container {
  padding-right: 1rem;
  padding-left: 1rem;
  margin-right: auto;
  margin-left: auto;
  max-width: 1400px;
  @include md {
    padding-right: 2rem;
    padding-left: 2rem
  }
}

.screen {
  min-height: 100dvh;
}

.heading-container {
  @include flexCenter(column);
  gap: 0.5rem;
  padding: 0.25rem 0.5rem;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-center {
  @include flexCenter(row);
}

.flex-center-col {
  @include flexCenter(column);
}

.flex-between {
  @include flexBetween(row);
}

.flex-between-col {
  @include flexBetween(column);
}

.rounded-full {
  border-radius: 100%;
}