
:root {
  --background: 147 83% 93%;
  --foreground: 147 83% 7%;
  --primary: 327 82% 47%;
  --primary-foreground: 0 0% 98%;
  --secondary: 144 100% 81%;
  --secondary-foreground: 0 0% 2%;
  --accent: 327 83% 40%;

  --off-background: 147 83% 83%;

  --border: 122 14% 39%;

  --rounded-lg: 8px;
  --rounded-md: 6px;
  --rounded-sm: 4px;

  --button-transition-duration: 200ms;
}

.dark {
  --background: 147 83% 7%;
  --off-background: 147 83% 12%;
  --foreground: 147 83% 93%;
  --primary: 327 82% 47%;
  --primary-foreground: 0 0% 2%;
  --secondary: 144 100% 1%;
  --secondary-foreground: 0 0% 2%;
  --accent: 327 83% 70%;
}
