$text: hsl(147, 83%, 7%);
$background: hsl(147, 83%, 93%);
$off-background: hsl(147, 83%, 83%);
$primary: hsl(327, 82%, 47%);
$primary-foreground: hsl(0, 0%, 98%);
$secondary: hsl(144, 100%, 81%);
$secondary-foreground: hsl(0, 0%, 2%);
$accent: hsl(327, 83%, 40%);

$dark-text: hsl(147, 83%, 93%);
$dark-background: hsl(147, 83%, 7%);
$off-dark-background: hsl(147, 83%, 12%);
$dark-primary: hsl(327, 82%, 47%);
$dark-primary-foreground: hsl(0, 0%, 2%);
$dark-secondary: hsl(144, 100%, 1%);
$dark-secondary-foreground: hsl(0, 0%, 2%);
$dark-accent: hsl(327, 83%, 70%);

$border: hsl(122, 14%, 39%);