.sm {
  --width: 1rem;
  --height: 1rem;
}

.md {
  --width: 1.5rem;
  --height: 1.5rem;
}

.lg {
  --width: 2rem;
  --height: 2rem;
}

.rotating-loader {
  border-radius: 100%;
  border-color: $off-background;
  border-top-color: $foreground;
}

.rotating-container {
  @include flexCenter("column");
  gap: 0.5rem;
  font-size: 1.1875rem;
}